<a href="https://colab.research.google.com/github/AMRITL-D/learning/blob/master/Assignment_108092024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student ID : 224573809

Student Name :  Amrit Lal

Attempted High Distinction Question : Yes

**Part 1**

Question 1.1 Write a method “is˙divisible” that takes two integers, m and n. The method returns True if m is
divisible by n, and returns False otherwise. Give three test cases for this function and three test
cases should include cases that return values on True and False. Be sure to test your function well,
including at least three test cases.

In [ ]:
#define a function to devide the numbers and get the reminder
def dev_fun(m,n):
  if n==0:## denominator can not be zero
    print("invalid input")
  elif m%n==0: # to get he reminder value use the function %
    return True    #if reminder is zero , it is devisible  hence give output as true
  else:
    return False   #if reminder is not zero , it is not devisible hence give output as false

In [ ]:
print(dev_fun(10,0))

invalid input
None

In [ ]:
print(dev_fun(64,8))

True

In [ ]:
print(dev_fun(99,2))

False

**Question 1.2 **  Imagine that Python does not have the != operator built in. Write a method “not_equal” that takes
two variables(any variable type) and gives the same result as the != operator. Obviously, you cannot
use != within your function! Test if your code works by thinking of examples and making sure the
output is the same for your new method as != gives you. Be sure to test your function well, including
at least 3 test cases

In [ ]:
#define a function to devide the numbers and get the reminder
def notequal_fun(m,n):  #define a function if loop if both number are not equal
  if m==n:
    return False
  else:
    return True

In [ ]:
print(notequal_fun(99,5))

True

In [ ]:
print(notequal_fun(90,90))

False

In [ ]:
print(notequal_fun('apple',91))

True

In [ ]:
print(notequal_fun('apple','apple'))

False

Question1.3 : List Comprehensions, you will need to perform and understand list comprehensions programming in
below two small tasks.
• Write a list comprehension that prints out the possible results of three coin flips (how many
results should be there?)
• Run this list comprehension in your notebook: [x+y for x in [10,20,30] for y in
[1,2,3]]. Figure out what is going on here, and write a nested for loop that gives you
the same result.

In [ ]:
# Possible outcome when one coin tossed Head or tail
outcome = ['H','T']
final_outcome= [ ]
def comprehension():
  for i in outcome:
    for j in outcome:
       for k in outcome:
        list1 = [i, j, k]
        final_outcome.append(list1)

In [ ]:
comprehension() # execute the comprehension function

In [ ]:
print(final_outcome)

[['H', 'H', 'H'], ['H', 'H', 'T'], ['H', 'T', 'H'], ['H', 'T', 'T'], ['T', 'H', 'H'], ['T', 'H', 'T'], ['T', 'T', 'H'], ['T', 'T', 'T']]

Question 1.3.2: Run this list comprehension in your notebook: [x+y for x in [10,20,30] for y in
[1,2,3]]. Figure out what is going on here, and write a nested for loop that gives you
the same result

In [ ]:
x=[10,20,30]
y=[1,2,3]
result =[] # define empty list for the case for result storage during loop operation
for i in x:
  for j in y:
    rsum=i+j
    result.append(rsum)

In [ ]:
print(result)

[11, 12, 13, 21, 22, 23, 31, 32, 33]

Question 1.4 :Write a function ”find_digits” that takes in a string and uses a list comprehension to return all
the int digits in the string if any (assuming string only contain digits from 0 to 9). Be sure to test
your function well, including at least 3 test cases.

In [ ]:

def find_degits(s):# define a function to evaluate is string if there is any digit in the same
  digit_list=[]
  for char in s: #define for loop to iterate over the string charachters
    if char.isdigit(): # identify if char is digit or string
      num=int(char)
      digit_list.append(num)
  return digit_list

In [ ]:
print(find_degits("house no 747"))

[7, 4, 7]

In [ ]:
print(find_degits("hello"))

[]

In [ ]:
print(find_degits('1234556789'))

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

Question 5. Write a list comprehension which solves the equation y = 2x
2 − 1 like Figure 2. Your solution should
print out a list of [x, y] pairs; use the domain x ∈ [−3, 3] and the range y ∈ [0, 30]. x and y are all
integers and you could use range for simulation on the x and y.

In [ ]:
import numpy as np

In [ ]:
for x in range(-3,4): # we need to consider upper limit as 4 , because X can takes the value upto 3
  list=[]# list that need to be updated as per specified condition
  y=2*x**2-1 # Calculation of valye y with given equation
  if y>=0 and y<=30: # lower and upder limit condition for y
    list.append(x)
    list.append(y)

  print([x,y])

[-3, 17]
[-2, 7]
[-1, 1]
[0, -1]
[1, 1]
[2, 7]
[3, 17]

Question 1.6 Collision Detection of Balls:
For calculating collision, we only care about a ball’s position in space, as well as its size. We can
store a ball’s position with the (x, y) coordinates of its center point, and we can calculate its size if
we know its radius r. Thus, we represent a ball in 2D space as a tuple of (x, y, r). To figure out if two
balls are colliding, we need to compute the distance between their centers, then see if this distance is
less than or equal to the sum of their radius. If so, they are colliding. Please define a function with

In [ ]:
def collision(ball1,ball2):
  x1,y1,r1=ball1
  x2,y2,r2=ball2
  distance=((x2-x1)**2+(y2-y1)**2)**0.5
  if distance<=r1+r2:
    return True
  else:
    return False

In [ ]:
print(collision((1,1,1),(0.5,0.5,1)))

True

In [ ]:
print(collision((5,1,3),(10,10,3)))

False

In [ ]:
print(collision((1,1,1),(1,1,1)))

True

In [ ]:
for i in range (6):
    temp_list =[]
    for j in range (i+1):
        print()
            temp_list.append(1)
        else:
            temp_list.append(list1[i-1][j-1] + list1[i-1][j])
    list1.append(temp_list)

for i in range(number):
    for j in range (number-i-1):
        print(format(" ", "<2"),end ="")
    for j in range( i+1):
        print(format(list1[i][j],"<3"), end ="")
    print()

Scoring the words A set of score is given to you as below according to each English letters: LETTER˙VALUES = ’a’: 1, ’b’: 1, ’c’: 5, ’d’: 6, ’e’: 1, ’f’: 4, ’g’: 2, ’h’: 4, ’i’: 1, ’j’: 8, ’k’:
6, ’l’: 1, ’m’: 4, ’n’: 1, ’o’: 1, ’p’: 3, ’q’: 11, ’r’: 1, ’s’: 1, ’t’: 1, ’u’: 1, ’v’: 5, ’w’: 4, ’x’: 8, ’y’: 6, ’z’: 10, ’ ’:100                                              Please finish the “get_word_score” function for returning the correct word score (condition is given
from function comments). The necessary library is given to you for importing (not other libraries
should be used). Test with “Australia”, “Deakin” and your name for three cases.

In [33]:
Letter_Values={'a':1,'b':1,'c':5,'d':6,'e':1,'f':4,'g':2,'h':4,'i':1,'j':8,'k':6,'l':1,'m':4,'n':1,'o':1,'p':3,
               'q':11,'r':1,'s':1,'t':1,'u':1,'v':5,'w':4,'x':8,'y':6,'z':10,' ':100
               }

def get_word_score(word):

  """
  Return the  Score for a word Assume the word is a valid word.
  You may assume that the input word is always either a string of letters,
  or the empty string.
  You may not assume that the string will contains only lowercase letter,
  so will have to to handle  upper case and mixed case stringsappropriately.
  the score for a word is the product of two components :
  First Component is the sum of points for letter in the word.
  Second  component is the larger of :1,or
  7*wordlen-3*(20-wordlen), where wordlen is the length of the word.
  word:string
  returns : int >= 0
  """
  word = word.lower()
  wordlen=len(word)

    ###calculate the first component : sum of letter score
  first_component=0
  for char in word:
    first_component+=Letter_Values[char]
    ### Calculate the Second component based on word lengh
    second_comp_1=1
    second_comp_2=7*wordlen-3*(20-wordlen)
    if second_comp_2<1:
      second_comp=second_comp_1
    else:
      second_comp=second_comp_2
  return first_component*second_comp

In [34]:
word_input =input("Enter the word")
print(word_input)

print(get_word_score(word_input))

Enter the worddeakin
deakin
16

In [35]:
word_input =input("Enter the word")
print(word_input)

print(get_word_score(word_input))

Enter the wordamrit lal
amrit lal
3330

In [36]:
word_input =input("Enter the word")
print(word_input)

print(get_word_score(word_input))

Enter the wordAustralia
Australia
270

1.8 Could you please use loop(s) with string character“*” to print as below

![Start.jpg]()

In [52]:
r = 6
for i in range(1, r):
    print(' '* (r - i) + '* ' * i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [44]:
r = 5

# Top half
for i in range(1, r+1 ):
  print(' '*2*(r - i) + '* ' * i)

  # Bottom half
for i in range(r-1,0,-1):
    print(' '*2*(r-i)+ '* '*i)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *